/* CSS Document */

body {
	
	background: #FEE9E8;
	font-family: raleway, sans-serif;
	font-size: 18px;
	color: #373E42;
	
}

div {
	text-align: center;
}


h1, h2 {
	color: #F68395;
	text-align: center;
	text-shadow: 5px 5px 1px #FABAC0;
	font-family: lobster, sans-serif;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 30px;
}

a{
	color: #06c6f6;
}
a:hover {
	color: #A5D9C2;
	text-decoration: line-through;
}



#pic {
	border: #06c6f6 2px dashed;
	height:500px;
	width: 375px;
	padding: 2px;
}
#pic:hover {
	border: #A5D9C2 3px dotted;
}

#pic-a {
	display: inline-block;
	position: relative;
}

span.about-me-txt {
	background: rgba(0,0,0,0.5);
	color: #F68395;
	display: table;
	height: 500px;
	width: 375px;
	position: absolute;
	top: 0;	
	opacity: 0;
}
span.about-me-txt span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	
}
#pic-a:hover span.about-me-txt {
	opacity: 1;
}


#projects {
	padding: 10% 0;
}

